a {
    text-decoration: none !important;
    color: black;
}

nav {
    border-bottom: 1px solid rgb(168, 168, 168);
    padding: 20px 0;
    margin-bottom: 20px;
}

#productType {
    margin-bottom: 20px;
}

.description {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(237, 237, 237);
}